body {
    min-height: 200vh;
    margin: 0;
    display: flex;
    flex-direction: column;

}


.header {
  display: flex;
  flex-direction: column;
  background: #1F2937;
  color: white;
  flex: 1;
  justify-content: flex-start;
  align-items: space-between;
  gap: 30px;
  max-height: 550px;
}

.section1 {
  display: flex;
  flex-direction: column;
  background: white;
  flex: 1;
  color: #1F2937;
  font-size: 18px;
  /*font-size: 36px;*/
  /*font-weight: 800;*/
  justify-content: center;
  align-items: center;
  max-height: 550px;
}

.section2 {
  display: flex;
  background: #E5E7EB;
  flex: 1;
}


.section3 {
  display: flex;
  background: white;
  flex: 1;
}

.footer {
  display: flex;
  height: 72px;
  color: white;
  background-color: #1F2937;
  justify-content: center;
  align-items: center;

}


.top {
  display: flex;
  justify-content: space-around;
}

.top img {
  margin-top: 5px;
  margin-right: 160px;
}

.bottom {
  display: flex;
  justify-content: space-around;
  margin-bottom: auto;
}

.left-container {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin-left: 120px;
  margin-top: 50px;
  gap: 10px;
}

.right-container {
  margin-top: auto;
}


ul {
  display: flex;
  list-style-type: none;
  gap: 20px;
  align-self: flex-start;
  margin-top: 0px;
  font-size: 20px;
}



a:link {
  text-decoration: none;
  color: #E5E7EB;
}


.test {
  align-self: flex-start;
}

button {
  color: black;
  border: 3px solid #3882F6;
  background-color: green;
  font-size: 10px;
  height: 150px;;
  width: 150px;
  margin: 5px;
  border-radius: 20px;

}

.card {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.card-container {
  display: flex;
  gap: 20px;

}



.left-container button {
  color: white;
  border: 3px solid #3882F6;
  background-color: #3882F6;
  font-size: 10px;
  border-radius: 10px;
  height: 40px;;
  width: 150px;
  margin: 5px;
  font-size: 18px;
  font-weight: 800;
  margin-left: -3px;

}



.card div {
  width: 160px;
  height: auto;
  text-align: center;
}


.card img {
  width: 150px; 
  height: 150px;
  border-radius: 20px;
  margin-left: -9px;
  margin-top: -4px;
}