body {
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;

}


.header {
  display: flex;
  background: #1F2937;
  color: white;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.section1 {
  display: flex;
  background: white;
  flex: 1;
}

.section2 {
  display: flex;
  background: #E5E7EB;
  flex: 1;
}


.section3 {
  display: flex;
  background: white;
  flex: 1;
}

.footer {
  display: flex;
  height: 72px;
  color: white;
  background-color: #1F2937;
  justify-content: center;
  align-items: center;

}


.container {
  display: flex;
  gap: 100px;
}


.mainhead {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;


}

ul {
  display: flex;
  list-style-type: none;
  gap: 10px;
  align-self: flex-start;
}



a:link {
  text-decoration: none;
}

.test {
  align-self: flex-start;
}