body {
    min-height: 200vh;
    margin: 0;
    display: flex;
    flex-direction: column;

}


.header {
  display: flex;
  flex-direction: column;
  background: #1F2937;
  color: white;
  flex: 1;
  justify-content: flex-start;
  align-items: space-between;
  gap: 30px;
}

.section1 {
  display: flex;
  background: white;
  flex: 1;
  color: #1F2937;
  font-size: 36px;
  font-weight: 800;
}

.section2 {
  display: flex;
  background: #E5E7EB;
  flex: 1;
}


.section3 {
  display: flex;
  background: white;
  flex: 1;
}

.footer {
  display: flex;
  height: 72px;
  color: white;
  background-color: #1F2937;
  justify-content: center;
  align-items: center;

}


.top {
  display: flex;
  justify-content: space-around;
}

.bottom {
  display: flex;
  justify-content: space-around;
  margin-bottom: auto;
}

.left-container {
  width: 250px;
  margin-left: 120px;
  margin-top: 50px;
}


ul {
  display: flex;
  list-style-type: none;
  gap: 20px;
  align-self: flex-start;
  margin-top: 0px;
  font-size: 20px;
}



a:link {
  text-decoration: none;
  color: white;
}


.test {
  align-self: flex-start;
}

button {
  color: black;
  border: 3px solid #3882F6;
  background-color: green;
  border-radius: 20px;
  font-size: 10px;
  height: 150px;;
  width: 150px;
  margin: 5px;


}


.left-container button {
  color: white;
  border: 3px solid #3882F6;
  background-color: #3882F6;
  border-radius: 20px;
  font-size: 10px;
  height: 50px;;
  width: 120px;
  margin: 5px;
  font-size: 18px;
  font-weight: 800;
  margin-left: -3px;

}